@charset "utf-8";
@import url('font.css');

/* =======================================
	reset
========================================== */

* {margin:0;padding:0;line-height:1.4em;-webkit-overflow-scrolling: touch;box-sizing:border-box;-webkit-hyphens: auto;hyphens: auto;vertical-align:middle;font-family: inherit;color: inherit;font-weight:inherit;letter-spacing: -0.35px;}
*:before, *:after{box-sizing:border-box;-webkit-box-sizing:border-box;}
html, body{height:100%;font-family:"NotoSans","Sans-serif";}
body{color:#676A6C;-webkit-text-size-adjust:none;word-break:keep-all;word-wrap:break-word;font-size:12px;font-weight:400;overflow-x:auto}
legend, caption, figcaption{display:none;}
ul,ol{list-style-image:none;list-style-position:outside;list-style-type:none;border:0px;}
img,fieldset, frameset, frameborder, frame {border:0;}
a, img, span, b, input, select, em, textarea, label, strong{vertical-align:middle;outline-style:none;color:inherit;font-family:inherit}
a{color:inherit;text-decoration:none;cursor:pointer;color:inherit;font-family:inherit;}
a:hover{text-decoration:none}
i, em{font-style:normal}
textarea{resize: none;}
button{border:none;background:none;outline:none;cursor:pointer;}
input[type="text"],input[type="password"], textarea{-webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;border-radius:0;}
select{border-radius:0;background:#fff;}
label{cursor:pointer;}

/* placeholder */
::-webkit-input-placeholder {color:#aaa;vertical-align:middle;}
:-webkit-input-placeholder {color:#aaa;vertical-align:middle;}
::-moz-placeholder {color:#aaa;vertical-align:middle;}
:-moz-placeholder {color:#aaa;vertical-align:middle;}

/* ========== form ========== */
/* input 기본 스타일 초기화 */
input:not([type=checkbox]):not([type=radio]), 
select { -webkit-appearance:none; -moz-appearance:none; appearance:none; }
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance:none; -moz-appearance:none; appearance:none; margin:0; }

select {height:34px;font-size: 12px;padding-left:12px;padding-right:30px;line-height:32px;-webkit-appearance:none;-webkit-box-shadow:none;box-shadow:none;border: 1px solid #B2B2B2;border-radius: 3px;outline:none;background:#fff url("../img/ico-arr.svg") no-repeat right 12px top 55%;}
input[type="text"], input[type="password"], input[type="email"], input[type="number"]{height:34px;font-size:12px;padding:0 12px;line-height:32px;border:1px solid #B2B2B2;border-radius:3px;outline:none; color:#676A6C;}
textarea{width:100%;font-size:12px;padding:12px;border:1px solid #B2B2B2;outline:none;resize: none;border-radius:3px;}
button{border:none;background:none;outline:none;cursor:pointer;outline:none}

select.sm,
input[type="text"].sm, input[type="password"].sm input[type="email"].sm input[type="number"].sm{height:26px;line-height:24px;}

textarea:disabled,
select:disabled,
input[type="text"]:disabled,
input[type="number"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled{background-color:#d9d9d9 !important;opacity: 1;}

.inp-chk-wrap{line-height:1;}
.inp-chk-wrap .inp-chk{margin-right:35px;}
.inp-chk{display:inline-flex;cursor:pointer;white-space:nowrap;margin:6px 0;align-items: center;}
.inp-chk .inp{display:inline-flex;position:relative;vertical-align:middle;}
.inp-chk .inp input{opacity:0;position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;cursor: pointer;}
.inp-chk .inp input[type='checkbox'] + .ic{display:block;width:15px;height:15px;border:1px solid #B2B2B2;border-radius:3px;background-position:50% 50%;background-repeat:no-repeat;background-size:auto 7px;background-color: #fff;}
.inp-chk .inp input[type='radio'] + .ic{display:block;width:10px;height:10px;border-radius:100%;border:1px solid #B2B2B2;}
.inp-chk .inp input[type='checkbox']:checked  + .ic{background-image:url('../img/ico-check.svg');}
.inp-chk .inp input:checked  + .ic{background-color:#1C4E81;border-color: #1C4E81;}
.inp-chk .inp input[readonly] + .ic{background-color: #B2B2B2;border-color: #B2B2B2;}
.inp-chk .inp input:disabled  + .ic{background-color: #B2B2B2;border-color: #B2B2B2;}
.inp-chk .t + .inp{margin-left:10px;}
.inp-chk .t{display:inline-block;margin-left:10px;vertical-align:middle;font-size:12px;color:#666666;line-height:1;}
.inp-chk .t:first-child{margin-left:0;}

.inp-range{position:relative;display:inline-block;}
.inp-range input{position:absolute;top:0;left:0;opacity:0;width:100%;height:100%;z-index:10;cursor:pointer;}
.inp-range i{position:relative;display:block;-webkit-appearance: none;width: 36px;padding:2px;height: 18px;outline: none;-webkit-transition: .2s;border-radius: 18px;cursor:pointer;background:#929AAC;}
.inp-range i:after{content:'';position:absolute;top:0;left:-1px;display:inline-block;width:18px;height:18px;border-radius:18px;transition: all 0.5s ease;-webkit-transition: all 0.5s ease;background:#d9d9d9;}
.inp-range input:checked + i{background:#2BB94A;}
.inp-range input:checked + i:after{left:19px;}

.inp-email{display:flex;align-items:center;}
.inp-email .a{margin:0 15px;}
.inp-email input{flex:1;}

.inp-tel{display:flex;align-items:center;}
.inp-tel .dash{margin:0 15px;width:20px;display:flex;justify-content:center;align-items:center;}
.inp-tel .dash:after{content:'';display:block;width:6px;height:1px;background:#676A6C;}
.inp-tel input{flex:1;}

/* colorpicker */
.minicolors{display:inline-flex !important;align-items: center;}
.minicolors .minicolors-input{height:34px;border:1px solid #B2B2B2;border-radius:4px;}
.minicolors .minicolors-swatch{position:relative;height:34px;width:53px;top:0;left:0;margin-left:10px;}
.minicolors .minicolors-swatch::after{display:none;}
.minicolors .minicolors-panel{top:120%;}
.minicolors-theme-default .minicolors-input{padding-left:12px;}

/* datepicker */
.inp-date{display:inline-flex;align-items: center;}
.inp-date .date{position:relative;display:inline-flex;align-items:center;}
.inp-date .date .input-group-addon{width:20px;height:22px;padding:0;border:none;margin-left:11px;background:url('../img/ico-cal.svg') no-repeat 0 0;}
.inp-date .date.disabled:after{content:'';display:block;position:absolute;top:0;left:0;width:100%;height:100%;}
.inp-date .date.disabled input{background:#D9D9D9;}
.inp-date .date input{width:105px;text-align:center;}
.inp-date .date .ui-datepicker-trigger{margin-left:11px;}
.inp-date .date .sm ~ .input-group-addon{margin-left:8px;}
.inp-date .dash{margin:0 10px;}
.ui-datepicker{font-size:1em !important;}
.ui-widget-header .ui-icon{background-image:url('../img/ui-icons_444444_256x240.png') !important;}
.input-daterange{width:auto;}
.input-daterange input:first-child{border-radius:4px;}
.input-daterange .input-group-addon{margin:0 }

.datepicker-dropdown{padding:0;color:#333333;overflow:hidden;position: absolute;min-width:210px;border:1px solid #B2B2B2; border-radius: 5px; background-color: rgb(255, 255, 255);box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); }
.datepicker-dropdown:before,
.datepicker-dropdown:after{opacity: 0;}
.datepicker-dropdown.datepicker-orient-bottom:before,
.datepicker-dropdown.datepicker-orient-bottom:after{display:none;}
.datepicker-dropdown table{border-collapse: collapse;width:100%;}
.datepicker-dropdown table tr .datepicker-switch{text-align:left;font-size:12px;color: #384955;font-weight:400;position:relative;background:#fff !important;text-align:center;padding-right:30px;}
.datepicker-dropdown .datepicker-centuries table tr .datepicker-switch,
.datepicker-dropdown .datepicker-decades table tr .datepicker-switch,
.datepicker-dropdown .datepicker-months table tr .datepicker-switch,
.datepicker-dropdown .datepicker-years table tr .datepicker-switch{padding-left:30px;}
.datepicker-dropdown table tr .datepicker-switch:after{content:'';display:inline;}
.datepicker-dropdown table tr th{height:26px;font-size:12px;border-radius:0;}
.datepicker-dropdown table tr td{height:26px;font-size:12px;font-weight:400;line-height:23px;border-radius:0;}
.datepicker-dropdown table tr th.prev,
.datepicker-dropdown table tr th.next{height:26px;position:absolute;padding:0 0;display:flex;justify-content:center;align-items:center;font-size:15px;z-index: 1;}
.datepicker-dropdown table tr th.prev{left:0;}
.datepicker-dropdown table tr th.next{right:0;}
.datepicker-dropdown table tr td:nth-child(2),
.datepicker-dropdown table tr td:nth-child(8){background:#FFE5DD;}
.datepicker-dropdown table tr th.dow:nth-child(2),
.datepicker-dropdown table tr th:nth-child(8){ color:#FF0505;}
.datepicker-dropdown table tr .old,
.datepicker-dropdown table tr .new{ color:#A3A1A0 !important;}
.datepicker-dropdown .cw{font-size:0;width:0;display:none;}
.datepicker-dropdown table tr td.today{background:#e9effc !important;}
.datepicker-dropdown table tr td.active, .datepicker table tr td.active.highlighted{background-color:#1C4E81 !important;border-color:#1C4E81 !important}
.datepicker-dropdown table tr td.active, .datepicker table tr td.active.highlighted{background-color:#1C4E81 !important;border-color:#1C4E81 !important}
.datepicker-dropdown table tr td span.active, .datepicker table tr td span.active:hover, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover{background-color:#2a62e1 !important;border-color:#2a62e1 !important}
.datepicker-dropdown.datepicker-orient-top{transform:translateY(-10px);}
.datepicker-dropdown.datepicker-orient-bottom{transform:translateY(15px);}
.datepicker table tr td.active:active, 
.datepicker table tr td.active.highlighted:active, 
.datepicker table tr td.active.active, 
.datepicker table tr td.active.highlighted.active{background: linear-gradient(180deg, #0086CC 0%, #0049CC 100%);}
.datepicker table tr td span.active:active, 
.datepicker table tr td span.active:hover:active, 
.datepicker table tr td span.active.disabled:active, 
.datepicker table tr td span.active.disabled:hover:active, 
.datepicker table tr td span.active.active, 
.datepicker table tr td span.active:hover.active, 
.datepicker table tr td span.active.disabled.active, 
.datepicker table tr td span.active.disabled:hover.active{background: linear-gradient(180deg, #0086CC 0%, #0049CC 100%);}


/* timepicker */
.inp-time{display:inline-flex;align-items:center;}
.inp-time .dash{margin:0 10px; }
.inp-time .timepicker ~ .dash{margin-left:5px;}
.inp-time input{width:80px;text-align:center;}
.timepicker{position:relative;display:inline-block;cursor:pointer;}
.timepicker::before{content:'';display:block;border:1px solid #b2b2b2;height:34px;border-radius:4px;position:absolute;top:0;left:0;width:calc(100% - 40px)}
.timepicker .time_pick > input{background:none;border:none;width:120px;padding-right:40px;padding-left:0;text-align:center;background:url("../img/ico-time.svg") no-repeat top 50% right 10px;background-size:auto 20px;}
.timepicker.sm input,
.timepicker.sm:before{height:26px;}
.timepicker_wrap .dot{font-size:20px; color:#676A6C;}
.timepicker_wrap .btn-menu{width:100%;}
.timepicker .time-min input{width:28px;height:26px;border:1px solid #b2b2b2;border-radius:3px;font-size:13px;padding:0 0;text-align:center;}
.timepicker .time-min input:focus{border:1px solid #000 !important;outline: none !important;}
.timepicker .time-min{display:flex;align-items:center;}
.timepicker .time-min .time, 
.timepicker .time-min .mins{margin:0}
.timepicker .time-min .ti_tx,
.timepicker .time-min .mi_tx{margin:0;}
.timepicker_wrap{background:#fff;}
.timepicker_wrap .prev,
.timepicker_wrap .next{position:relative;width:28px;height:26px;border:none; background:#fff !important;}
.timepicker_wrap .prev:after,
.timepicker_wrap .next:after{content:'';display:block;width:14px;height:8px;position:absolute;top:50%;left:50%;background:url('../img/arr-time.svg') no-repeat 0 0;background-size:14px auto;transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);}
.timepicker_wrap .next:after{background-position:0 100%;}
.timepicker_wrap .prev, 
.timepicker_wrap .next{padding:0;}
.timepicker_wrap .btn-menu{display:flex;margin-top:10px;}
.timepicker_wrap .btn-menu button{flex:1;height:26px;display:flex;justify-content:center;align-items:center;font-size:11px;}
.timepicker_wrap .btn-menu .confrim-time{background:#1C4E81; color:#fff;}
.timepicker_wrap .btn-menu .cancel-time{border:1px solid #D9D9D9; color:#676A6C;background:#fff;}
.timepicker_wrap .btn-menu > * ~ *{margin-left:6px;}

.form-wrap + .form-wrap{margin-top:20px;}
.form-wrap.label-black .label{ color:#000 !important;}
.form-wrap .tbl{display:table;width:100%;}
.form-wrap .tbl > .row{display:table-row;}
.form-wrap .tbl > .row > *{display:table-cell;padding:8px 0;width:10px;vertical-align: middle;}
.form-wrap .tbl > .row .label{width:50px;white-space: nowrap;min-height: 34px;padding-right:35px;vertical-align:top;}
.form-wrap .tbl > .row .label.wide{min-width: 110px;}
.form-wrap .tbl > .row .label.wide2{min-width: 150px;}
.form-wrap .tbl > .row .label.vt{vertical-align:top;}
.form-wrap .tbl > .row .label .lab{height:34px;display:flex;align-items:center;}
.form-wrap .tbl > .row .form{width:auto;min-height: 34px;}
.form-wrap .tbl > .row .form > .inp-date ~ .inp-date,
.form-wrap .tbl > .row .form > .inp-date ~ .inp-time,
.form-wrap .tbl > .row .form > .inp-time ~ .inp-time{margin-left:20px;}
.form-wrap .tbl > .row .label.vt ~ .form .inp-chk{margin-top:0;margin-bottom:0;} 
.form-wrap .tbl > .row .form .col ~ .col{margin-top:15px;}
.form-wrap .tbl > .row .form .radio-next-level{margin-top:15px;padding-left:20px;}
.form-wrap .tbl > .row .form > input[type=text],
.form-wrap .tbl > .row .form > input[type=password]{width:100%;}
.form-wrap .tbl > .row .form > .txt{margin-top:6px;font-size:11px;}
.form-wrap .tbl > .row .form > .tbl:first-child{margin-top:-5px;}
.form-wrap .tbl > .row .form > .tbl > .row > *{padding-top:5px;padding-bottom:5px;}
.form-wrap .tbl > .row .form  .form-txt{min-height: 34px; display: flex; align-items: center; padding:10px 0;}
.form-wrap .tbl > .row .form  .form-txt.align-c{justify-content: center;}
.form-wrap .tbl > .row .form  .inp-check-col-wrap .col ~ .col{margin-top:10px;}
.form-wrap .tbl > .row .form  .inp-check-col-wrap .col:first-child{margin-top:5px;}
.form-wrap .tbl > .row .form  .inp-check-col-wrap .col:only-child{margin-top:0;}
.form-wrap .tbl > .row .form  .inp-chk-wrap .inp-chk{min-height: 22px;}
.form-wrap .tbl > .row .form  *  ~ .inp-chk-wrap{margin-top:10px;}
.form-wrap .tbl > .row > .form  select  ~ select{margin-left:10px;}
.form-wrap .tbl > .row:last-child > *{padding-bottom:0 !important;}
.form-wrap .tbl > .row.mgt > *{padding-top:17px !important;}
.form-wrap .tbl + .txt{margin-top:20px;}
.form-wrap .row ~ .row{margin-top:25px;}
.form-wrap .col ~ .col{margin-top:30px;}
.form-wrap .col .label-wrap{display:flex;align-items:center;margin-bottom:8px;}
.form-wrap .col .label-wrap .label{margin-bottom:0;}
.form-wrap .col .label-wrap .right{margin-left:auto;}
.form-wrap .col .label{width:100%;margin-bottom:5px;font-size:12px;}
.form-wrap .col .form > *{width:100%;}
.form-wrap .form > .row{display:flex;align-items:center;}
.form-wrap .form > .row.vt{align-items: flex-start;}
.form-wrap .form .t-label{margin-right:15px;}
.form-wrap .form .t-label + *{margin-left:0 !important;}
.form-wrap .form * ~ .t-label{margin-left:35px !important;}
.form-wrap .form .tt{margin-left:5px;}
.form-wrap .form .auto{flex:1;}
.form-wrap .form .auto input[type='text']{width:100%;}
.form-wrap .form .right{margin-left:auto !important;padding-left:15px;display:flex;}
.form-wrap .form .right.vb{align-self: flex-end;}
.form-wrap .form * + .chk-list{margin-top:20px;}
.form-wrap .form .chk-list:first-child{padding-top:5px;}
.form-wrap .form .chk-list li{display:flex;align-items:center;}
.form-wrap .form .chk-list li ~ li{margin-top:15px;}
.form-wrap .form .chk-list li .cell{min-width:140px;}
.form-wrap .form .chk-list li .cell2{min-width:160px;}
.form-wrap .form .chk-list.cycle-month li .cell{min-width:120px;}
.form-wrap .form .chk-list li [class*=cell] .inp-chk{margin-right:8px;}
.form-wrap .form .chk-list li [class*=cell] .tt{margin-left:5px;}
.form-wrap .form * + .row{margin-top:10px;}
.form-wrap .form input[type='text'] + .txt{margin-top:5px;}
.form-wrap > .form{display:flex;}
.form-wrap > .form > * ~ *{margin-left:20px;}
.form-wrap > .row{display:flex;align-items:center;}
.form-wrap > .row .form{flex:1;}
.form-wrap > .txt{margin-top:20px;}
.form-wrap > .txt.star{text-indent: -8px;padding-left:8px;}
.form-wrap > .txt + .txt{margin-top:5px !important;}
.form-wrap .direct-input{display:inline-block;margin-left:15px;}
.form-wrap .direct-input > * ~ *{margin-left:20px;}
.form-wrap.main-form{margin-bottom:40px;}
.form-wrap.main-form .label{font-size:13px; color:#000;min-width: 100px;vertical-align: middle !important;}
.form-wrap.main-form .form select{min-width:180px}
.form-wrap.main-form .form > *:not(.row) ~ *{margin-left:20px;}
.form-wrap.main-form .form .btn-search{margin-left:30px;}
.form-wrap.main-form .form > .btn-search +  .form-search{margin-left:50px !important;}
.form-wrap.main-form .tbl .row > *{padding:12px 0;}
.form-wrap.small-gap .tbl .row > *{padding:3px 0;}
.form-wrap.wide-gap .tbl .row > .label,
.form-wrap.wide-gap .tbl .row > .form{padding:12px 0;}
.form-wrap.wide-gap .tbl .row > .form > .row > * ~ *{margin-left:20px;}
.form-wrap.wide-gap .tbl .form * + .row{margin-top:20px;}
.form-wrap .repeat-list{margin-top:-10px;}
.form-wrap .repeat-list li{display:inline-block;margin-right:35px;padding:10px 0;}
.form-wrap .cycle-direct{margin-top:20px;}
.layerpopup .form-wrap > .form > * ~ *{margin-left:10px;}

.form-search{display:inline-flex;align-items:center;}
.form-search input{width:220px;border-radius:4px 0 0 4px;border-right:none;}
.form-search input + button{border-radius:0 4px 4px 0px;}
.form-search  [class*=btn-type]{min-width: 60px;}
.form-search.full{width:100%;;}
.form-search.full input{flex:1;width:auto;min-width: 0;}
.form-search.w-sm input{width:140px;}
.form-search.w-sm [class*=btn-type]{min-width: 50px;}
.form-search.sm input{height:26px;}
.form-search.sm button{height:26px;line-height:24px;width:52px;min-width: 0;}

.form-both{display:flex;margin-top:38px;}
.form-both > *{flex:1}
.form-both > * ~ *{margin-left:75px;}

.form-center{margin:60px auto;text-align:center;}
.form-center .form-wrap{display:inline-block;margin:0 }
.form-center .btn-wrap{margin-top:30px;}
.form-center * + .btn-date-init{margin-left:50px !important;}

.align-r{text-align: right !important;}
.align-l{text-align: left !important;}
.align-c{text-align: center !important;}

.c-red{ color:#EA5755 !important;}
.c-lightgreen{ color:#7EC589 !important;}
.c-sky{ color:#61A8D7 !important;}
.c-blue{}
.c-navy{ color:#0601FF !important;}
.c-green{ color:#4D9B7A !important;}

.regular{font-weight: 400 !important;}
.medium{font-weight: 500 !important;}
.bold{font-weight: 700 !important;}

.ellips{display:block;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
